.Editor {
  display: flex;
  gap: 10px;
}

.Editor > input {
  flex: 1;
  padding: 15px;
  border: 1px solid darkblue;
  border-radius: 4px;
}

.Editor > button {
  width: 80px;
  padding: 15px;
  border: none;
  background-color: darkblue;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
